<div id="user_show" class="container">
  <div class="content">
    <%= render 'input_panel' %>
    <div class="row"> 
      <div class="span4">
        <h3>Tags</h3>
      </div>
      <div class="span10">
        <h3>Notes</h3>
        <%= render @notecards %>
        <%= paginate @notecards %>
      </div>
    </div>
  </div>
</div>
