<% if @user.errors.any? %>
  <div class="alert-message block-message error">
    <p>
  	  <strong>
	    <%= pluralize(@user.errors.count, "error") %>
	  </strong>
         You better check yourself!
    </p>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>