<div class="row">
	<div class="span4">
	  <h3>Tags</h3>
	    <%= render @tags %>
	</div>
	<div class="span10">
	  <h3>Notes</h3>
	  <%= render @notecards %>
	  <%= paginate @notecards %>
	</div>
</div>