<div class="container">
  <div class="hero-unit">
    <h1>Simply Notes</h1>
    <p>Welcome to Plum Notes.  A simple and free note taking application for your personal use.  Come on in and enjoy a plum!  </p>
    <p><%= link_to "Sign Up!", signup_path, :class => "btn primary large pull-right" %></p>
  </div>
