<div class="container">
  <div class="hero-unit">
    <h1>Simply Notes</h1>
    <p>Welcome to Kevin Incorvia's first full-featured rails application.  This application is a work in progress so bear with me as things change and grow!</p>
    <p><%= link_to "Sign Up!", signup_path, :class => "btn primary large pull-right" %></p>
  </div>
