<%= stylesheet_link_tag  "users/users.css" %>
<div class="topbar">
   <div class="fill">
     <div class="container">
       <a class="brand" href="<%= root_url %>">Plum Notes</a>
       <ul class="nav">
		<li class="active">	
			<a href="#"><%= current_user.email %></a>
		</li>
       </ul>
       <div class="pull-right" id="signout">
       <%= link_to "Sign Out", signout_path, :method => :delete %>
       </div>
     </div>
   </div>
</div>