<%= stylesheet_link_tag  "users/users.css" %>
<div class="topbar">
   <div class="fill">
     <div class="container">
       <a class="brand" href="#">Notes</a>
       <ul class="nav">
		<li class="active">	
			<a href=#">User Name</a>
		</li>
       </ul>
     </div>
   </div>
</div>