<!DOCTYPE html>
<html>

  <head>
    <%= render 'layouts/head' %>
  </head>

  <header>
    <%= render '/layouts/header'%>
  </header>

  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>
